.footer {
  background-color: var(--primary-color);
  width: 100%;
  border-top: 0.5px solid white;
  color: white;
  padding-top: 10px;
  text-align: start;
  margin-top: auto;
  flex-shrink: 0;
}

.list {
  list-style: none;
  cursor: pointer;
}

.icon-item {
  margin: 6px;
  cursor: pointer;
}
