:root {
  --background: white;
  --foreground: white;
  --primary-color: #e83249;
  --primary-color-dark: #3700b3;
  --secondary-color: #fce6e9;
  --background-navbar: white;
  --lang-icon: black;
  --button-background: transparent;
  --button-color: white;
  --card-background: white;
  --title-color: black;
  --btn-color: #e83249;
  --tab-color: #e83249;
  --logo-color: white;
  --order-btn-color: #e83249;
  --btn-order: white;
}

[data-theme="dark"] {
  --background: black;
  --foreground: black;
  --secondary-color: #151818;
  --background-navbar: black;
  --lang-icon: white;
  --primary-color: black;
  --button-background: #e83249;
  --primary-color-dark: white;
  --button-color: white;
  --card-background: #151818;
  --title-color: white;
  --btn-color: white;
  --tab-color: #e83249;
  --logo-color: #e83249;
  --btn-order: black;
  --order-btn-color: white;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background: var(--background) !important;
  color: var(--foreground);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  padding-top: 60px; /* Account for fixed navbar height */
  overflow-x: hidden;
}
